{% extends 'accounts/main.html' %}

{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customer:</h5>
            <hr>
            <a href="" class="btn btn-outline-info btn-sm btn-block">Update</a>
            <a href="" class="btn btn-outline-danger btn-sm btn-block">delete</a>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information :</h5>
            <hr>
            <p>Eemail:</p>
            <p>Phone:</p>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Total orders</h5>
            <hr>
            <h1 style="text align:center;padding:10px"></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form action="" method="get">
                <button class="btn btn-primary" type="submit">search</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table  class="table table-sm" >
                <tr>
                    <th>product</th>
                    <th>Category</th>
                    <th>Date Ordered</th>
                    <th>status</th>
                    <th>update</th>
                    <th>Remove</th>
                </tr>
                {% for order in order %}
                <tr>
                    <td>{{ order.product }}</td>
                    <td>{{ order.product.category }}</td>
                    <td>{{ order.date_created }}</td>
                    <td>{{ order.status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}