<div class="container">
    <div class="row">
    <div class="col-md">
        <div class="card" id="total-orders" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Order</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ total_ordered }}</h6>

  </div>
</div>
    </div>
    <div class="col-md">
        <div class="card" id="orders-delivered" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Order Delevered</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ delivered }}</h6>


  </div>
</div>
    </div>


    <div class="col-md">
        <div class="card" id="orders-pending" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Order pending</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ pending }}</h6>

  </div>
</div>
    </div>
</div>



</div>